<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>check</servlet-name>
        <servlet-class>check</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>check1</servlet-name>
        <servlet-class>check1</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>textwrite</servlet-name>
        <servlet-class>textwrite</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>print</servlet-name>
        <servlet-class>print</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>register</servlet-name>
        <servlet-class>register</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>reset</servlet-name>
        <servlet-class>reset</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register1</servlet-name>
        <servlet-class>register1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>gettxt</servlet-name>
        <servlet-class>gettxt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>register2</servlet-name>
        <servlet-class>register2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>savetofile</servlet-name>
        <servlet-class>savetofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadmage</servlet-name>
        <servlet-class>uploadmage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadimage</servlet-name>
        <servlet-class>uploadimage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadServlet</servlet-name>
        <servlet-class>UploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>userregister</servlet-name>
        <servlet-class>userregister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminregister</servlet-name>
        <servlet-class>adminregister</servlet-class>
    </servlet>
	<servlet>
        <servlet-name>icancel</servlet-name>
        <servlet-class>icancel</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>serveimage</servlet-name>
        <servlet-class>serveimage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remove</servlet-name>
        <servlet-class>remove</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deletetempfiles</servlet-name>
        <servlet-class>deletetempfiles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>currentwritetofile</servlet-name>
        <servlet-class>currentwritetofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>isubmit</servlet-name>
        <servlet-class>isubmit</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>check</servlet-name>
        <url-pattern>/check</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>print</servlet-name>
        <url-pattern>/print</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>check1</servlet-name>
        <url-pattern>/check1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register1</servlet-name>
        <url-pattern>/register1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>gettxt</servlet-name>
        <url-pattern>/gettxt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>register2</servlet-name>
        <url-pattern>/register2</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>textwrite</servlet-name>
        <url-pattern>/textwrite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>savetofile</servlet-name>
        <url-pattern>/savetofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>reset</servlet-name>
        <url-pattern>/reset</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadmage</servlet-name>
        <url-pattern>/uploadmage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadimage</servlet-name>
        <url-pattern>/uploadimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadServlet</servlet-name>
        <url-pattern>/UploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>userregister</servlet-name>
        <url-pattern>/userregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminregister</servlet-name>
        <url-pattern>/adminregister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>serveimage</servlet-name>
        <url-pattern>/serveimage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove</servlet-name>
        <url-pattern>/remove</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deletetempfiles</servlet-name>
        <url-pattern>/deletetempfiles</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>currentwritetofile</servlet-name>
        <url-pattern>/currentwritetofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>isubmit</servlet-name>
        <url-pattern>/isubmit</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
        <servlet-name>icancel</servlet-name>
        <url-pattern>/icancel</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <description>Location to store uploaded file</description>
        <param-name>file-upload</param-name>
        <param-value>
         C:\Users\ashwi\Desktop\spastic society\files\pimages\
      </param-value>
    </context-param>
</web-app>
